body {
    margin: 0;
}

/* Styling */

.bar-icon {
    display: none;
}

.mobile-home-logo {
    display: none
}

.container {
    display: flex;
    justify-content: space-between;
}

.adjust-center {
    display: flex;
    /* height: 100%; */
    align-items: center;
}

.menu-bar-spacing {
    padding: 0 10px;
}

/* Header */

.menu-bar_bg-color {
    background-color: #89f389;
}

nav.left-nav > div:last-child a {
    color: black;
    text-decoration: none;
}

nav.left-nav > div:last-child a:hover {
    color: white;
}

nav.right-nav a {
    color: black;
    text-decoration: none;
}

nav.right-nav a:hover {
    color: white;
}

@media (max-width: 520px) {
    /* .responsive-mobile-text > div:last-child a{
        font-size: 1rem;
    }
     */

     .bar-icon {
         display: block;
     }

     .mobile-home-logo {
        display: flex;
        justify-content: center;
        width: 100%;
     }

     .container .left-nav {
        display: none
     }

     .container .right-nav {
        display: none
     }

     .menu-bar_bg-color {
        background-color: #b05af7;
        font-size: 1rem;
    }

    .menu-bar-spacing {
        padding: 0 4px;
    }

}