body {
    margin: 0;
}

/* Styling */

.adjust-center {
    display: flex;
    /* height: 100%; */
    align-items: center;
}

.bar-icon {
    display: none;
}

.description h3 {
    margin: 0;
}

.description .address p{
    margin: 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 32px;
    justify-items: center;
}

.mobile-home-logo {
    display: none
}

.container {
    display: flex;
    justify-content: space-between;
}

.item {
    /* background-color: turquoise; */
    border: 1px solid black;
    width: 90%;
}

.menu-bar-spacing {
    padding: 0 10px;
}

/* Header */

.menu-bar_bg-color {
    background-color: #89f389;
}

nav.left-nav > div:last-child a {
    color: black;
    text-decoration: none;
}

nav.left-nav > div:last-child a:hover {
    color: white;
    text-decoration: underline;
}

nav.right-nav a {
    color: black;
    text-decoration: none;
}

nav.right-nav a:hover {
    color: white;
    text-decoration: underline;
}

/* Main Section */

.description {
    background-color: white;
    padding: 24px 12px 12px;
}

.main {
    background-color: #cdcfcd;
    padding: 30px 0 30px;
}

.main .item .img-content-1 {
    background-image: url("../img/house.jpeg");
    display: block;
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main .item .img-content-2 {
    background-image: url("../img/house-1.jpeg");
    display: block;
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main .item .img-content-3 {
    background-image: url("../img/house-2.jpeg");
    display: block;
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main .item .img-content-4 {
    background-image: url("../img/house-3.jpeg");
    display: block;
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main .item .img-content-5 {
    background-image: url("../img/house-4.jpeg");
    display: block;
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main .item .img-content-6 {
    background-image: url("../img/house-5.jpeg");
    display: block;
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main .item .img-content-7 {
    background-image: url("../img/house-6.jpeg");
    display: block;
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main .item .img-content-8 {
    background-image: url("../img/house-7.jpeg");
    display: block;
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main .item .img-content-9 {
    background-image: url("../img/house-8.jpeg");
    display: block;
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main .item .img-content-10 {
    background-image: url("../img/house-9.jpeg");
    display: block;
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main .item .img-content-11 {
    background-image: url("../img/house-10.jpeg");
    display: block;
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main .item .img-content-12 {
    background-image: url("../img/house-11.jpeg");
    display: block;
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main .item .description .unit-features {
    display: flex;
    justify-content: space-between;
    width: 35%;
}

.main .item .description h3, .main .item .description .unit-features, .main .item .description .address{
    margin-bottom: 12px;
}

.main .item .description .unit-features p{
    margin: 0;
}


/* -----------------------Responsive--------------------------- */

@media (max-width: 520px) {
    /* .responsive-mobile-text > div:last-child a{
        font-size: 1rem;
    }
     */

    /* Styling */
    .bar-icon {
        display: block;
    }

    .mobile-home-logo {
        display: flex;
        justify-content: center;
        width: 100%;
     }

    .container .left-nav {
        display: none
    }

    .container .right-nav {
        display: none
    }

    .mobile-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 100%;
        align-items: center;
    }

    /* Header */
    .menu-bar_bg-color {
        background-color: #89f389;
        font-size: 1rem;
    }

    /* .menu-bar-spacing {
        padding: 0 4px;
    } */

}